.navbar-component {
  height: 100%;
  width: 250px;
  background-color: #31363c;
  /*position: fixed;*/
}
.navbar-header-text-wrapper {
  padding: 5px;
  background-color: #ee2f80;
  display: flex;
  flex-direction: column;
}

.navbar-header-text-wrapper p {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  /*pa*/
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: white;
}

.navbar-control-text {
  color: white;
}
